[submodule "libs/restc-cpp"]
	path = libs/restc-cpp
	url = https://github.com/jgaa/restc-cpp.git
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libs/restclient-cpp"]
	path = libs/restclient-cpp
	url = https://github.com/mrtazz/restclient-cpp.git
[submodule "libs/base64"]
	path = libs/base64
	url = https://github.com/vadim8960/base64.git
